accelerate==1.12.0
blobfile==3.0.0
datasets==4.4.2
httpx[http2]==0.28.1
mcp[cli]==1.25.0
memray==1.19.1
omegaconf==2.3.0
pillow==11.3.0
pydantic==2.12.5
pylatexenc==2.10
pyyaml==6.0.1
qwen_vl_utils==0.0.14
ray[default]==2.53.0
safetensors==0.7.0
ring_flash_attn==0.1.8
sglang-router==0.3.0
tensorboard==2.20.0
transformers==5.5.4
wandb==0.23.1
